<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @idol.name %>
</p>

<p>
  <strong>Yomigana:</strong>
  <%= @idol.yomigana %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @idol.image.to_s %>
</p>

<%= link_to 'Edit', edit_idol_path(@idol) %> |
<%= link_to 'Back', idols_path %>
